* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family:  'Poppins', sans-serif;
}
main{
    height: 100vh;
    width: 100vw;
}
header{
    width: 100%;
    height:10%;
    box-shadow: 5px 10px #f7f3f3;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}
.title{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.5em;
    width: fit-content;
    letter-spacing: 3px;
    text-shadow: 0px 2px 4px #646464;
}
.title span{
    color: lightblue;
    margin-left: 8px;
}
.content{
    height: 100%;
    width: fit-content;
    display: flex;
    font-size: 1.5em;
    align-items: center;
}
.option{
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 4px;
    transition: 1.1s;
}
.option:hover{
    color: hsl(205, 78%, 60%);
    cursor: pointer;
}
.icons {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: hsl(205, 78%, 60%);

}

.icons i {
    margin-left: 15px;
        transition: 1.1s;
}
.icons i:hover {
    color: lightblue;
    cursor: pointer;
}
.icons :last-child{
    display: none;
}
@media only screen and (max-width:800px){
    
    header{
        width: 100%;
        height:10%;
        box-shadow: 0px 0px #f7f3f3;
        display: flex;
        justify-content: space-between;
         padding-left: 15px;
        padding-right: 15px;
    }
    .content{
        display: none;
    }
    .icons i{
        display: none;
    }
    .icons :last-child{
        display: block;
        font-size: 1.7em;
        transition: 0.5s;
    }
    .icons :last-child:hover{
        color: black;
        transform: rotate(90deg);
    }
}
